.contact__section {
  position: relative;
  background-color: #222831;
  height: 650px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.contact__container {
  display: flex;
  align-items: center;
  max-width: 1130px;
  width: 100%;
}

.contact__container h2 {
  font-size: 3rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #fff;
  line-height: 120px;
  transition: color 0.3s ease-out;
}

.contact__container h2:hover {
  color: rgb(255, 90, 96);
}

.contact__item {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact__title {
  display: flex;
  align-items: center;
}

.contact__title h3 {
  margin-left: 10px;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #fff;
  line-height: 120px;
  transition: color 0.3s ease-out;
}

.information {
  height: 510px;
}

.media {
  width: 500px;
  height: 280px;
  margin-top: 30px;
  border-radius: 8px;
  border: none;
}

.media__icons {
  position: absolute;
  margin: 30px 80px;
  bottom: 0;
  left: 0;
  display: flex;
  max-width: 300px;
  align-items: center;
  justify-content: center;
}

.media__icons img {
  width: 28px;
  border-radius: 4px;
  margin: 0px 25px 0px 0px;
}

.form__container {
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #fff;
}

.form__container input {
  width: 100%;
  outline: none;
  border-radius: 4px;
  margin: 10px 0px;
  padding: 10px 20px;
  border: none;
}

.form__container label {
  text-align: left;
  font-size: 0.9rem;
}

.form__container textarea {
  width: 100%;
  outline: none;
  border-radius: 4px;
  margin: 10px 0px;
  padding: 10px 20px;
  border: none;
  height: 125px;
}

.form__field {
  display: flex;
  width: 100%;
  gap: 10px;
}

.form__item {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
}

.form__container button {
  width: 200px;
  padding: 0.8rem 2rem;
  border-radius: 4px;
  outline: none;
  border: none;
  color: #fff;
  background-color: rgb(255, 90, 96);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-inline: auto;
  margin-top: 30px;
  cursor: pointer;
}

@media (max-width: 360px) {
  .contact__section {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .contact__container {
    width: 100%;
    padding: 30px 0px;
    flex-direction: column-reverse;
  }

  .contact__title {
    display: flex;
    flex-direction: column;
  }
  
  .contact__title h3 {
    line-height: 0px;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  .form__container{
    margin-top: 50px;
    width: 80%;
  }

  .media {
    width: 85%;
    height: 210px;
    margin-top: 30px;
    border-radius: 8px;
    border: none;
  }

  .information {
    height: 100%;
  }

  .media__icons{
    position: relative;
  }
}

@media (max-width: 380px) and (min-width: 361px) {
  .contact__section {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .contact__container {
    width: 100%;
    padding: 30px 0px;
    flex-direction: column-reverse;
  }

  .contact__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .contact__title h3 {
    line-height: 0px;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  .form__container{
    margin-top: 50px;
    width: 80%;
  }

  .media {
    width: 85%;
    height: 210px;
    margin-top: 30px;
    border-radius: 8px;
    border: none;
  }

  .information {
    height: 100%;
  }

  .media__icons{
    position: relative;
  }
}

@media only screen and (max-width: 768px) and (min-width: 381px) {
  .contact__section {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .contact__container {
    width: 100%;
    padding: 30px 0px;
    flex-direction: column-reverse;
  }

  .contact__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .contact__title h3 {
    line-height: 0px;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  .form__container{
    margin-top: 50px;
    width: 80%;
  }

  .media {
    width: 85%;
    height: 250px;
    margin-top: 30px;
    border-radius: 8px;
    border: none;
  }

  .information {
    height: 100%;
  }

  .media__icons{
    position: relative;
  }
}
