$text-primary: #ff5a60;
$text-secondary: #222831;
$background-dark: #222831;

$about-gradient: rgba(0, 0, 0, 0.85);
$client-gradient: rgba(0, 0, 0, 0.9);

$product-card-shadow: rgba(99, 99, 99, 0.2);
$client-card-shadow: rgba(255, 255, 255, 0.15);
$client-card-image-shadow: rgba(0, 0, 0, 0.15);
$navbar-shadow: rgba(100, 100, 111, 0.2);

$breakpoint-small: 360px;
$breakpoint-small-medium: 361px;
$breakpoint-medium: 420px;
$breakpoint-medium-large: 421px;
$breakpoint-large: 800px;
