.products__section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.products__section h2 {
  font-size: 3rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: left;
  line-height: 150px;
  transition: color 0.3s ease-out;
}

.products__section h2:hover {
  color: rgb(255, 90, 96);
}

.products__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  max-width: 1130px;
  margin-bottom: 50px;
}

.logo {
  width: 90px;
  display: inline-block;
  margin: 0 30px;
  transition: all 0.2s ease-out;
}

.logo:hover {
  transform: scale(1.2);
  opacity: 0.5;
  cursor: pointer;
}

.products__slider {
  height: 200px;
  width: 900px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin: 0px auto;
  display: flex;
  align-items: center;
}

.products__slider__inner {
  display: block;
  width: 200%;
  margin: 70px 0;
  position: absolute;
  animation: marquee 20s linear infinite;
}

.products__slider__inner:hover {
  animation-play-state: paused;
}

span {
  float: left;
  width: 50%;
  display: flex;
  align-items: center;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@media (max-width: 360px) {
  .products__list {
    width: 90%;
  }
}

@media (max-width: 380px) and (min-width: 361px) {
  .products__list {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 381px) {
  .products__list {
    width: 90%;
  }
}
