.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
  padding: 0px 100px;
  background-color: #222831;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hamburger__link {
  display: none;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1130px;
  text-decoration: none;
  list-style: none;
}

.menu__link {
  color: rgb(255, 90, 96);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.menu__link.item_3 {
  border-radius: 8px;
  padding: 6px 10px;
  background-color: rgb(255, 90, 96);
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.3s ease-out;
  margin-left: 15px;
}

.menu__link.item_3:hover {
  background-color: rgb(255, 80, 96);
}

.menu__link.item_3::after {
  border: none;
}

.menu__link {
  position: relative;
  padding: 0px 25px;
}

.menu__link:hover::after {
  /* OPACITY TRANSITION 
      opacity: 1;
      transition: 0.4s ease-in-out;  
    */

  transform: scaleX(1);

  /*  RIGHT-TO-LEFT  
      transform-origin: 100% 50%;  
    */

  /* LEFT-TO-RIGHT */
  transform-origin: 0% 50%;
}

.menu__link::after {
  /* opacity: 0; */
  content: '';
  border: 1px solid rgb(255, 90, 96);
  position: absolute;
  width: calc(100% - 40px);
  bottom: -5px;
  left: 20px;

  transform: scaleX(0);
  transition: transform 250ms ease-in-out;

  /*  RIGHT-TO-LEFT  
      transform-origin: 0% 50%;   
    */

  /* LEFT-TO-RIGHT */
  transform-origin: 100% 50%;
}

@media (max-width: 380px) {
  .menu {
    padding: 0px 20px;
    justify-content: flex-start;
  }

  .hamburger__link {
    display: block;
  }

  .menu__list {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: calc(100vh - 90px);
    background-color: #222831;
    opacity: 0.98;
    transform: translate(-100%, 90px);
    transition: 0.4s ease-in-out;
  }

  .menu__list.active {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translate(0%, 90px);
  }

  .menu__link {
    display: none;
  }

  .menu__link.active {
    margin: 15px 10px;
    display: block;
  }

  .menu__link.item_3 {
    margin-left: 35px;
  }
}

@media (max-width: 768px) {
  .menu {
    padding: 0px 40px;
  }

  .menu__list {
    max-width: 768px;
  }
}
