@import "../abstracts/variables";

.clients__section {
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  height: 875px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient($client-gradient, $client-gradient),
    url("../../assets/pizza-wallpaper.png") no-repeat left;
  perspective: 100px;
  margin-bottom: -1px;

  h2 {
    margin-top: 200px;
    font-size: 3rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-align: left;
    line-height: 150px;
    transition: color 0.3s ease-out;
    color: #fff;

    @media only screen and (max-width: $breakpoint-small-medium) {
      h2 {
        margin-top: 60px;
      }
    }
  }

  @media only screen and (max-width: $breakpoint-small-medium) {
    margin-top: 100px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    height: 700px;
  }
}

.clients__container {
  max-width: 880px;
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;

  .active__slide__0 #card-0 {
    opacity: 1;
    transform: scale(1);
    @media only screen and (max-width: $breakpoint-large) {
      transform: scale(0.9);
    }
  }

  .active__slide__1 #card-1 {
    opacity: 1;
    transform: scale(1);
    @media only screen and (max-width: $breakpoint-large) {
      transform: scale(0.9);
    }
  }

  .active__slide__2 #card-2 {
    opacity: 1;
    transform: scale(1);
    @media only screen and (max-width: $breakpoint-large) {
      transform: scale(0.9);
    }
  }

  .active__slide__3 #card-3 {
    opacity: 1;
    transform: scale(1);
    @media only screen and(max-width: $breakpoint-large) {
      transform: scale(0.9);
    }
  }

  .active__slide__4 #card-4 {
    opacity: 1;
    transform: scale(1);
    @media only screen and (max-width: $breakpoint-large) {
      transform: scale(0.9);
    }
  }

  .active__slide__5 #card-5 {
    opacity: 1;
    transform: scale(1);
    @media only screen and (max-width: $breakpoint-large) {
      transform: scale(0.9);
    }
  }

  .active__slide__6 #card-6 {
    opacity: 1;
    transform: scale(1);
    @media only screen and (max-width: $breakpoint-large) {
      transform: scale(0.9);
    }
  }
}

.cards__slider {
  position: relative;
  min-width: 278px;
  margin-inline: auto;

  .slides__wrapper {
    display: flex;
    position: absolute;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.arrow {
  z-index: 10;
  position: absolute;
  top: 0;
  cursor: pointer;
  border: solid #fff;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  &:hover {
    width: 23px;
    height: 23px;
  }

  @media only screen and (max-width: $breakpoint-small-medium) {
    margin: 70px 30px 0px 30px;
  }

  @media only screen and (min-width: $breakpoint-small-medium) and (max-width: $breakpoint-medium) {
    margin: 125px 35px 0px 35px;
  }

  @media only screen and (min-width: $breakpoint-medium-large) and (max-width: $breakpoint-large) {
    margin: 25px 235px 0px 235px;
  }
}

.right {
  right: 0;
  transform: translateY(50vh) rotate(-45deg);
}

.left {
  left: 0;
  transform: translateY(50vh) rotate(135deg);
}
